/* app/javascript/stylesheets/integry/application.scss */
.integry-container__tabbed-nav {
  display: none;
}
.styles-module_radio__3nDyK {
  width: 80% !important;
}
.styles-module_button__3PLW1 path[stroke="#5F4D86"] {
  stroke: black;
}
path[fill="#5F4D86"] {
  fill: black;
}
.styles-module_selectWrapper__wU7p8 svg {
  display: none !important;
}
#integry-auth-container .integry-steps-navigation {
  display: none !important;
}
#integry-auth-container .integry-steps-information {
  border: none;
}
#integry-auth-container .styles-module_steps__v_9f5,
#integry-auth-container .styles-module_bottom__1Z1M1 {
  display: none !important;
}
.integry-container .styles-module_deleteIcon__1mAJb {
  display: none !important;
}
.integry-container ol {
  display: none !important;
}
#integry-auth-container .integry-container__button--primary,
#cf-integry-container .integry-container__button--primary {
  font-family: inherit;
  margin: 0;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-border-opacity: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-text-opacity: 1;
  color: rgba(21, 29, 40, var(--tw-text-opacity));
  box-shadow: 0 2px 2px rgba(81, 110, 134, 0.04);
  border: 1px solid transparent;
  background: #222e3f;
  color: #ffffff;
}
#integry-auth-container .integry-container__button--primary:hover,
#cf-integry-container .integry-container__button--primary:hover {
  background-color: #222e3f !important;
}
#integry-auth-container .integry-container__button--secondary,
#cf-integry-container .integry-container__button--secondary {
  font-family: inherit;
  margin: 0;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-border-opacity: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-text-opacity: 1;
  color: rgba(21, 29, 40, var(--tw-text-opacity));
  box-shadow: 0 2px 2px rgba(81, 110, 134, 0.04);
  border: 1px solid rgba(215, 224, 229, var(--tw-border-opacity));
  background: inherit;
  background-image:
    linear-gradient(
      to top,
      #f3f4f5,
      #fdfdfd);
}
#integry-auth-container .integry-container__button--secondary:hover,
#cf-integry-container .integry-container__button--secondary:hover {
  background-image:
    linear-gradient(
      to top,
      #eeeff1,
      #f0f2f7) !important;
}
#integry-auth-container .integry-container__button--secondary:not(.styles-module_disabled__CiT_f):hover,
#cf-integry-container .integry-container__button--secondary:not(.styles-module_disabled__CiT_f):hover {
  background-image:
    linear-gradient(
      to top,
      #eeeff1,
      #f0f2f7) !important;
  color: inherit;
}
/*# sourceMappingURL=integry.css.map */
